# Application
PROJECT_NAME="Inversity API"
ENVIRONMENT=development
PORT=8888

# Log
LOG_LEVEL=debug
LOG_PRETTY_JSON=true

# Database
DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/inversity"

# Cache
REDIS_URL="redis://localhost:6379/0"

# Authentication
AUTH_SECRET_KEY="supersecretkeypleasechangeme"
AUTH_ALGORITHM="HS256"
AUTH_ACCESS_TOKEN_EXPIRE_MINUTES=15
AUTH_REFRESH_TOKEN_EXPIRE_DAYS=7
